
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Menlo, monospace;
  font-size: 12px;
  line-height: 18px;
}

div.test {
  margin: 10px;
}

div.test ul {
  list-style-type: none;
  padding: 0;
}


div.game {
  margin: 20px;
}