<!DOCTYPE html>
<html lang="en" ng-app="game">
<head>
  <meta charset="utf-8">

  <title>Hold 'em Poker</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div
    class="container"
    ng-controller="CtrlApp">

    <div class="page-header">
      <h1>Hold 'em Poker</h1>
    </div>

    <!-- GAME SETUP -->
    <div class="setup">

      <!-- BETTING STRUCTURE -->
      <label>
        Betting Limit:
        <select
          class="form-control"
          ng-model="settings.limit"
          ng-options="opt as opt.label for opt in options.limits">
        </select>
      </label>

      <!-- # OF PLAYERS -->
      <label>
        Players:
        <select
          class="form-control"
          ng-model="settings.players"
          ng-options="opt for opt in options.players">
        </select>
      </label>

      <button
        class="btn btn-primary"
        ng-click="startGame()">
        Start Game
      </button>
    </div>


    <!-- GAME -->

  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="lib/disbranded.poker.js"></script>
  <script src="lib/disbranded.poker.lingo.en.js"></script>
  <script src="lib/disbranded.poker.game.holdem.js"></script>

  <script src="js/game.js"></script>
  <script src="js/game.ctrl.js"></script>

</body>
</html>
