/* Angular ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.setup select {
  display: inline;
  width: auto;
}


/* PLAYER */
.table .player {
  text-align: center;
}

.table .player .hole-cards .card {
  display: inline-block;
  width: 40px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #eee;
  border-radius: 6px;
}

.table .player .hole-cards .down {
  background-image: url(../cards/down.png);
  background-size: 100%;
}

.table .player .hole-cards .up {
/*  background-image: url(../cards/2_of_clubs.png);*/
  background-size: 120px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: black;
}


.table .player h4 {
  color: #ccc;
}

.table .player h4.seated {
  color: #666;
}

.table .player h4.human {
  color: #900;
}

.table .player .bet {
  color: #900;
}


/* BOARD */
.table .board {
  text-align: center;
  margin: 24px auto;
}

.table .board .community-cards .card {
  display: inline-block;
  width: 80px;
  height: 112px;
  background-size: 72px;
  background-repeat: no-repeat;
  background-position: 4px;
  background-color: #eee;
  border-radius: 6px;
}

.table .board .community-cards img {
  width: 72px;
}



/* POTS */
.table .pots {
  white-space: nowrap;
}

.table .pots span {
  margin-right: 12px;
}

.table .pots span:last-child {
  margin-right: 0;
}
